.crt_img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.crt_title_parent {
  display: flex;
  justify-content: space-between;
}
.crt_addIcon {
  width: 10vw;
  height: 10vh;
  margin-top: 15px;
  cursor: pointer;
}
.crt_title {
  font-family: "Readex Pro", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 20px;
}

.crt_desc {
  font-family: "Readex Pro", sans-serif;
  height: 20vh;
}

.crt_form {
  margin-top: 30px;
}

.crt_parent2 {
  margin-bottom: 20px;
}

.crt_button {
  font-weight: 600;
  width: 10%;
  font-family: "Readex Pro", sans-serif;
}
