.navbar-brand {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.1);
  font-family: "Readex Pro", sans-serif;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Readex Pro", sans-serif;
}

.nav-item a {
  color: black;
  text-decoration: none;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .navbar-brand {
    font-size: 1.7rem;
  }

  .nav-item {
    margin-left: 15px;
    margin-right: 15px;
  }
}
